<acl>
    <page-vpn-vpnlink>
        <name>VPN: VPN Link</name>
        <patterns>
            <pattern>ui/vpnlink/*</pattern>
            <pattern>api/vpnlink/settings/*</pattern>
            <pattern>api/vpnlink/service/*</pattern>
            <pattern>api/vpnlink/link/*</pattern>
            <pattern>api/vpnlink/monitor/*</pattern>
        </patterns>
    </page-vpn-vpnlink>
</acl>
